h1 {
    font-size: 45px;
    color: white;
}

h2 {
    font-size: 16px;
    color: white;
}

.TitleTextCU {
    margin-top: 65px;
    height: 200px;
    width: 100%;
    text-align: center;
}

.GameMenuButtons {
    margin-top: 15px;
}


.createUserForm {
    text-align: center;
    flex-direction: column;
    color: orange;
}


.CreateUserPageButtons {
    text-align: center;
    margin-top: 10px;
}