h1 {
    font-size: 45px;
    color: white;
}

h2 {
    font-size: 16px;
    color: white;
}

.TitleTextCU {
    margin-top: 65px;
    height: 200px;
    width: 100%;
    text-align: center;
}

.GameMenuButtons {
    margin-top: 15px;
}

/* .GameMenu {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
} */

.createUserForm {
    flex-direction: column;
    color: white;
}